/* use local octicons */
@font-face {
  font-family: 'octicons';
  src:
    url(octicons.eot?#iefix) format("embedded-opentype"),
    url(octicons.woff) format("woff"),
    url(octicons.ttf) format("truetype"),
    url(octicons.svg#octicons) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* un-collapse all blocks */
.documents .api-entry .method-summary-wrapper,
.documents .extended-methods-container .extended-methods {
  display: block;
}

/* hide collapse triggers */
.documents .extended-toggle,
.documents .no-methods-message {
  display: none;
}

/* full-width content */
body {
  min-width: initial;
}
.documents.content-push {
  margin: initial;
}
.documents .wrapper {
  width: initial;
  margin: 40px auto;
  padding: 0 24px;
}
.documents .column.main-column {
  width: initial;
  padding: initial;
}

/* undo footer push */
.footer-push {
  height: initial !important;
  min-height: initial;
  margin: initial;
}
